body {
	background-color: #000;
	color: #fff;
	margin: 5%;
	font-size: 1.5em;
	margin-left: 20%;
	margin-right: 20%;
}

#myname {
	margin: 0em; 
}

nav {
	text-align: center;
}

p, a {
	color: #fff;
	text-decoration: none;
}

.contact-a,
#content a,
nav a:hover {
	text-decoration: underline;
}

.type-size {
	font-size: 1.25em;
}

#content {
	padding: 10pt;
	font-size: 1em;
}
