{{ define "main" }}
<h1 class="type-size">{{ .Title | title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<p>
	{{ partial "metadata.html" . }}
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	<p style="font-size: 0.7em;">{{ .Summary }}</p>
</p>
{{ end }}
{{ end }}
