<hr />
<nav>
	{{ range .Site.Menus.external}}
        {{ if ne .Name "wiby.me" }}
            <a href="{{ .URL }}">
                {{ print .Name | safeHTML }}
            </a>
			|
        {{ else }}
            <a href="{{ .URL }}">
                {{ print .Name | safeHTML }}
            </a>
        {{ end }}
	{{ end }}
</nav>
<center><p style="font-size: 12pt;">©Copyright is dumb. Copyleft 2023, all wrongs reserved. Steal this website!</p></center>
