<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="icon" href="/images/favicon.ico" />
	{{ $title := print .Site.Title " | " .Title | title}}
	{{ if .IsHome }}{{ $title = .Site.Title | title }}{{ end }}
	<title>{{ $title }}</title>
</head>
