<a href="/"><h2 id="myname">Gaurav</h2></a>
<nav>
	{{ range .Site.Menus.main }}
		{{ if ne .Name "Contact" }}
			<a href="{{ .URL }}">
				{{ print .Name | safeHTML }}
			</a>
			|
		{{ else }}
			<a href="{{ .URL }}">
				{{ print .Name | safeHTML }}
			</a>
		{{ end }}
	{{ end }}
</nav>
<hr />
