{{ $dateTime := .PublishDate.Format "02/01/2006"}}
{{ $dateFormat := .Site.Params.dateFormat | default "02/01/2006" }}
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat}}</time>
{{ with .Params.tags }}
<i></i>
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
